In [ ]:
# Map--- For all Value at a Time as Following Example

In [ ]:
# Eg: 1 function & map

def square(x):
    return x*x
square(10)

100

In [ ]:
num = [1,2,3,4,5,6,7,8,9]

list(map(square, num))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
# Eg: 1 lambda & map

num = [1,2,3,4,5,6,7,8,9]
list(map(lambda x: x*x, num))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
# Map with multiple iterables

num1 = [1,2,3]
num2 = [4,5,6]

add = list(map(lambda a,b : a+b, num1, num2))
print(add)

[5, 7, 9]

In [14]:
# String to int

str_num = ['1', '2', '3']
int_num = list(map(int, str_num))

print(int_num)

[1, 2, 3]

In [15]:
words = ['a', 's', 'as', 'asas']
upper_words = list(map(str.upper, words))
print(upper_words)

['A', 'S', 'AS', 'ASAS']

In [17]:
def get_name(people):
    return people['name']

people = [
    {'name': 'ns', 'age': 20},
    {"name":'as', 'age': 21}
]

list(map(get_name, people))

['ns', 'as']