In [ ]:
# Order Collection, Immutable

tup = ()
print(type(tup)) # <class 'tuple'>

<class 'tuple'>

In [ ]:
print(type(list()))

<class 'list'>

In [4]:
num = tuple([1,2,3,4,5,6])
print(type(num))

<class 'tuple'>

In [6]:
list((1,2,3,4,5))
print(type(list))

<class 'type'>

In [7]:
tup = ("dfdf", 1, True)
print(tup)

('dfdf', 1, True)

In [ ]:
tup = ("dfdf", 1, True)
print(num[0])
print(num[-1])

print(num[0:8])

1
10
(1, 2, 3, 4, 5, 6, 7, 8)

In [12]:

# Tuple Operations
tup = ("dfdf", 1, True)
num = (1,2,3,4,5,6)

concat = tup + num
print(concat)

res = num * 3
print(res)

('dfdf', 1, True, 1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [13]:
# Im-mutable

num = (1,2,3,4,5,6)
num[1] = "NSLONI"
print(num)

TypeError: 'tuple' object does not support item assignment

In [16]:
num = (1,2,3,4,5,6,7,8,9,10)

print(num.count(1))

print(num.index(7))

1
6

In [ ]:
## Packing and Un-Packing

# 1.Packing

tup = 1,"nsloni", 20.56
print(tup)

# Un-Packing

a,b,c = tup
print(a)
print(b)
print(c)
'''
1
nsloni
20.56
'''

# Un-Packing with * [star]

nums = (1,2,3,4,5,6)
first, *mid, last=nums

print(first) # 1
print(mid)  # [2, 3, 4, 5]
print(last) # 6

(1, 'nsloni', 20.56)
1
nsloni
20.56
1
[2, 3, 4, 5]
6

In [25]:
## Nested Tuple

list1 = ((1,2,3,4), (5,6,7,8,9),(12,34,56,78,90))
print(list1)

list1[2][0:4]

((1, 2, 3, 4), (5, 6, 7, 8, 9), (12, 34, 56, 78, 90))

(12, 34, 56, 78)

In [27]:
## Access Element inside TUPLE

list1 = ((1,2,3,4), (5,6,7,8,9),(12,34,56,78,90))
print(list1[0][2])

3

In [28]:
## Access Element inside TUPLE

list1 = ((1,2,3,4), (5,6,7,8,9),(12,34,56,78,90))
print(list1[0])

(1, 2, 3, 4)